In [1]:
actual = [1,1,1,0,0,1,0,0,0,1,0,1,1,0,0]
predicted = [0,1,1,0,0,1,1,0,1,1,0,1,1,0,1]

In [2]:
from sklearn.metrics import accuracy_score, confusion_matrix
accuracy_score(actual, predicted)

0.7333333333333333

In [3]:
from sklearn.metrics import confusion_matrix
confusion_matrix(actual, predicted)

array([[5, 3],
       [1, 6]])

In [4]:
import pandas as pd
from sklearn.metrics import classification_report
report = pd.DataFrame(classification_report(actual, predicted, output_dict=True))
report

                  0         1  accuracy  macro avg  weighted avg
precision  0.833333  0.666667  0.733333   0.750000      0.755556
recall     0.625000  0.857143  0.733333   0.741071      0.733333
f1-score   0.714286  0.750000  0.733333   0.732143      0.730952
support    8.000000  7.000000  0.733333  15.000000     15.000000